// header css

@import "media.scss";

.masterheader {
  // margin-bottom: 50px;
  height: 100vh;
  background-color: #26262a;
  background-image: url(/public/img/big-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

}

//   @media (min-width: $md) {
//     background-image: url(/public/img/big-img.jpg);
//   }

//   @media (min-width: $lg) {
//     background-image: url(/public/img/big-img.jpg);
//   }

//   @media (min-width: $xl) {
//     background-image: url(/public/img/big-img.jpg);
//   }

// }

// .overlay {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 100%;
//   width: 100%;
//   background-color: #26262a;
//   opacity: 0.6;
// }