// header css

@import "navbar.scss";


header {
  background-image: url(/public/img/big-img.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  height: 100vh;
  position: relative;
}