// navbar css

@import "media.scss";
@import "container.scss";


.navbar {

    background-color: white;
    padding: 0 1rem;
    width: 100%;
    z-index: 1000;
    box-sizing: border-box;


    @media (min-width: $sm) {
        padding: 0 0;
        background-color: transparent;
        border-bottom: 1px solid rgba(0, 0, 0, 0.19);

        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav__item a{
            padding: 0 5px;
            text-transform: uppercase;
            font-size: 14px;
            font-weight: 500;
        }


        .logo-btn {
            display: none;
        }

        .navbar__collapse {
            display: block;
        
            & .navbar__nav {
                display: flex;
            }
        }
    }


    &__collapse {
        display: none;
    }


}


.logo-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    line-height: 50px;
    font-weight: 900;
    font-size: 26px;

    & span {
        font-size: 10px;
        padding-left: 2px;
        letter-spacing: 1px;
    }
}

.logo-btn {
    display: block;
    width: 28px;
    height: 28px;
    right: 22px;
    top: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;


    &__item {
        background-color: black;
        height: 3px;
        width: 100%;
    }


}



.container_toggle {
    height: 240px;

}