// navbar css

@import "media.scss";
@import "container.scss";

.logo-w_visible {
    display: none;
    padding: 10px 20px;

    &:hover {
        transition: all 0.2s ease-out;
        opacity: 0.2;
    }
}

.logo-b_visible {
    display: block;
    padding: 10px 0;
}

@media (min-width: $lg) {
    .logo-w_visible {
        display: block;
    }

    .logo-b_visible {
        display: none;
    }

}

.navbar {

    position: absolute;
    background-color: white;
    padding: .5rem 1rem;

    @media (min-width: $lg) {
        background-color: transparent;
    }

    &_fixed-top {
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
    }


    &__nav {
        list-style: none;
        display: flex;
        flex-direction: column;

        @media (min-width: $lg) {
            flex-direction: row;
        }

    }

    &__button {
        text-transform: uppercase;
        padding: 13px;
        background-color: transparent;
        border: 1px solid transparent;
        border-color: rgba(0, 0, 0, .1);
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    &__container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        height: 90px;
        overflow: hidden;
        transition: 0.3s;

        @media (min-width: $lg) {
            flex-wrap: nowrap;

        }

    }

    &__logo {}

    &__collapse {
        // display: none;
        flex-basis: 100%;
        padding: 10px 0;
        border-top: 1px solid #26262a;

        @media (min-width: $lg) {
            flex-basis: auto;
            // display: block;
        }
    }


}


.button_visible {
    display: block;

    @media (min-width: $lg) {
        display: none;
    }

}

.nav {

    &__link {
        text-decoration: none;
        color: black;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 13px;
        font-weight: 800;
        padding: 5px 0px;

        &:hover {
            color: dimgray;
            transition: all 0.2s ease-out;
        }

        @media (min-width: $lg) {
            color: white;
            padding: 10px 10px;
        }

    }
}


.container_toggle {
    height: 240px;
}