<!--Footer-->
<div class="footer">
    <div class="footer__container">
        <div class="footer__menu">
            <div class="footer__menu_item"><a href="/" class="footer__menu_link">главная</a></div>
            <div class="footer__menu_item"><a href="/resume" class="footer__menu_link">резюме</a></div>
            <div class="footer__menu_item"><a href="/portfolio" class="footer__menu_link">портфолио</a></div>
            <div class="footer__menu_item"><a href="/blog" class="footer__menu_link">блог</a></div>
            <div class="footer__menu_item"><a href="/contact" class="footer__menu_link">контакты</a></div>
        </div>
        <div class="footer__reserved">
            <a href="https://kolbert.ru">2018 Кольберт Владимир / Vladimir Kolbert</a>
        </div>
        <div class="footer__social">
            <div class="footer__social_item">
                <a href="https://www.facebook.com/kolbertv">
                    <span>
                        <i class="icon-facebook-squared"></i>
                    </span>
                </a>
            </div>
            <div class="footer__social_item">
                <a href="https://www.linkedin.com/in/kolbert">
                    <span>
                        <i class="icon-linkedin-squared"></i>
                    </span>
                </a>
            </div>
            <div class="footer__social_item">
                <a href="https://www.youtube.com/user/vkolbert">
                    <span>
                        <i class="icon-youtube-play"></i>
                    </span>
                </a>
            </div>
            <div class="footer__social_item">
                <a href="https://vk.com/kolbert">
                    <span>
                        <i class="icon-vkontakte"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>