<nav class="navbar navbar_fixed-top">
    <div class="container navbar__container" id="navbar__container">
        <a class="navbar__logo logo-w_visible" href="/"><img src="/public/img/logo-w.png" alt=""></a>
        <a class="navbar__logo logo-b_visible" href="/"><img src="/public/img/logo-b.png" alt=""></a>
        <button class="navbar__button button_visible" id="navbar__button">Menu</button>
        <div class="navbar__collapse" id="navbar__collapse">
            <ul class="navbar__nav">
                <li class="nav__item"><a class="nav__link <%= path==='/' ? 'active' : '' %>" href="/">Главная</a></li>
                <li class="nav__item"><a class="nav__link <%= path==='/resume' ? 'active' : '' %>" href="/resume">Резюме</a></li>
                <li class="nav__item"><a class="nav__link <%= path==='/portfolio' ? 'active' : '' %>" href="/portfolio/exampl">Портфолио</a></li>
                <li class="nav__item"><a class="nav__link" href="/blog">Блог</a></li>
                <li class="nav__item"><a class="nav__link" href="/contact">Контакты</a></li>
            </ul>
        </div>
    </div>
</nav>


