<div class="rc">
    <div class="container rc__wrap">
        <p class="rc__descr">Контакты для связи</p>
        <div class="rc__button__container">
            <a class="rc__button" href="/contact">Перейти на страницу контактов</a>
        </div>
    </div>
</div>