.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 962px;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
      padding-left: 15px;
      padding-right: 15px; } }

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 962px;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
      padding-left: 15px;
      padding-right: 15px; } }

.mm_hidden {
  display: none; }

.nav__item {
  padding: 5px 0; }

.navbar {
  background-color: white;
  padding: 0 1rem;
  width: 100%;
  z-index: 1000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .navbar__collapse {
    padding: 0 0 10px 0;
    text-align: right; }
  @media (min-width: 576px) {
    .navbar {
      padding: 0 0;
      background-color: transparent;
      border-bottom: 1px solid rgba(0, 0, 0, 0.19);
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      .navbar .nav__item a {
        padding: 0 5px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 500; }
      .navbar .logo-btn {
        display: none; }
      .navbar .navbar__collapse {
        display: block;
        padding: 0; }
        .navbar .navbar__collapse .navbar__nav {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex; } }

.logo-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.logo-img {
  line-height: 50px;
  font-weight: 900;
  font-size: 26px; }
  .logo-img span {
    font-size: 10px;
    padding-left: 2px;
    letter-spacing: 1px; }

.logo-btn {
  display: block;
  width: 28px;
  height: 28px;
  right: 22px;
  top: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  .logo-btn__item {
    background-color: black;
    height: 3px;
    width: 100%; }

.container_toggle {
  height: 240px; }

@media (min-width: 992px) {
  .navbar {
    background-color: #26262a; } }

.contact-map {
  min-height: 940px;
  background-color: #26262a; }

.contact-wrapper {
  position: relative; }

.map-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #26262a;
  opacity: 0.9; }

.container_cc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 110px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.cc-title {
  text-align: center;
  margin: 40px;
  font-size: 20px;
  letter-spacing: 0.05em; }

.cc-content input,
.cc-content textarea,
.cc-content button {
  padding: 10px 00px 10px 10px; }

.cc-addr {
  margin-bottom: 20px;
  min-width: 300px; }
  .cc-addr p {
    text-align: center;
    margin: 10px 10px 20px 10px; }
    .cc-addr p a {
      display: inline; }

.cc-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .cc-form h2,
  .cc-form input,
  .cc-form textarea,
  .cc-form button {
    margin: 10px 0px; }
  .cc-form input,
  .cc-form textarea,
  .cc-form button {
    background-color: transparent;
    border: 1px solid white;
    font-size: 16px;
    color: white; }
  .cc-form button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .cc-form textarea {
    height: 200px;
    max-height: 200px; }

.cc-name-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.cc-addr-btn:hover {
  cursor: pointer;
  color: dimgray;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }

.cc-btn_visible {
  display: inline-block; }

.cc-btn_hide {
  display: none; }

/*# sourceMappingURL=map/contact.css.map */
