<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="../public/style/blog.css">
</head>

<body id="body">

    <%-  include('includes/navbar.ejs') %>

    <%- include('includes/header.ejs')%>

    <div class="container">
        <h2 class="blog-title"> Ошибка 404. Запрашиваемая страница не найдена</h2>
    </div>


    <%- include('includes/footer.ejs')%>

    <script src="../public/js/app.js"></script>


</body>

</html>