<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body>

    <main>

        <form action="/admin/add-work" method="POST" style="display:flex; flex-direction: column; width: 200px">
            <input type="text" name="title" placeholder="title">
            <input type="text" name="descript" placeholder="descript">
            <input type="text" name="feature" placeholder="feature">
            <input type="text" name="url" placeholder="url">
            <input type="text" name="year" placeholder="year">
            <button type="submit">нажать кнопку</button>
        </form>

    </main>

</body>

</html>