<!DOCTYPE html>
<html lang="ru">

<head>

    <%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="../public/style/blog.css">

</head>

<body id="body">


    <%- include('includes/header.ejs')%>

    <div class="container">
        <h2 class="blog-title"> Данная страница находится в разработке</h2>
    </div>



    <%- include('includes/rc.ejs')%>

    <%- include('includes/footer.ejs')%>

    <script src="../public/js/app.js"></script>

</body>

</html>