<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="./public/style/resume.css">
</head>

<body id="body">

    

    <%- include('includes/header.ejs')%>

    <!--Page wrapper-->
    <div class="page__wrapper">

        <!--Page specific content-->
        <div class="content">

            <!--<h1 class="textColorDev">Резюме :::) </h1>-->

            <div class="skills">
                <div class="skills__title skills__width">
                    <h2>Навыки и технологии</h2>
                </div>
                <div class="skills__common skills__width">
                    <h3>Ключевые навыки</h3>
                    <ul>
                        <li>Расчеты на прочность</li>
                        <li>Frontend разработка</li>
                        <li>Backend разработка</li>
                        <li>PVP-Design</li>
                        <li>Mathcad</li>
                        <li>SMath Studio</li>
                        <li>Solid Works</li>
                        <li>Solid Works Simulation</li>
                        <li>НТД (ГОСТ, ОСТ, АТК) в рамках <br>расчетов на прочность</li>
                    </ul>
                </div>
                <div class="skills__add skills__width">
                    <h3>Технологии</h3>
                    <ul>
                        <li>HTML/CSS</li>
                        <li>JavaScript</li>
                        <li>SCSS/LESS</li>
                        <li>GIT - Version Control</li>
                        <li>GULP</li>
                        <li>AJAX</li>
                        <li>Node.js</li>
                        <li>Responsive Design</li>
                        <li>BEM (naming)</li>
                        <li>React/Redux</li>
                        <li>Angular</li>
                        <li>PHP</li>
                        <li>Webpack</li>
                    </ul>
                </div>
            </div>

            <div class="works">
                <div class="works__title__width">
                    <h2>Принимал участие в проектах</h2>
                </div>
                <div class="works__content__width">

                    <h3>Кодинг</h3>
                    <p>
                        <ul>
                            <li>kolbert.ru - стек: html, scss, nodejs, ejs, expressjs, mongodb</li>
                        </ul>
                    </p>
                    <h3>Расчеты на прочность оборудования</h3>
                    <p>
                        <ul>
                            <li>УПГТ КС "Славянская"</li>
                            <li>Уренгойское ГКМ УКПГ - 41</li>
                            <li>Уренгойское ГКМ УКПГ - 51</li>
                            <li>УКПГ 3С Заполярного НГКМ</li>
                            <li>Газпром - ПХГ Осиповичи</li>
                            <li>Газпром - ПХГ Мозырское</li>
                            <li>Газпром - НГКМ "Харасавейское"</li>
                            <li>Газпром - ПХГ Арбузовское</li>
                            <li>Новатек - ГКМ Самбургское</li>
                            <li>Новатек - Южно-Тамбейское ГКМ</li>
                            <li>Новатек - Ямал СПГ</li>
                            <li>Роспан - Восточно-Уренгойский лицензионный участок</li>
                            <li>Роспан - Ново-Уренгойский лицензионный участок</li>
                            <li>и многие другие</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="works">
                <div class="works__title__width">
                    <h2>Опыт работы</h2>
                </div>
                <div class="works__content__width">
                    <h3>Руководитель группы КБ Департамента крупных проектов</h3>
                    <p>
                        <strong>
                            <a target="_blank" href="http://www.giprokislorod.ru/">АО Гипрокислород</a>
                            , Июль 2017 - по настоящее время
                        </strong>
                        <ul>
                            <li>Руководство группой прочности</li>
                            <li>Участие в технических совещаниях</li>
                            <li>Расчеты на прочность оборудования под давлением</li>
                        </ul>

                    </p>
                    <h3>Руководитель органа сертификации / Эксперт</h3>
                    <p>
                        <strong>
                            <a target="_blank" href="http://os-cie.ru/">ООО "Сертификация и Экспертиза</a>
                            , Июнь 2016 - Июль 2017
                        </strong>
                        <ul>
                            <li>Руководство органом сертификации</li>
                            <li>Сертификация продукции на соответсвие требованиям ТР ТС 032/2013 и ТР ТС 016/2011</li>
                            <li>Проведение анализа производства</li>
                        </ul>

                    </p>
                    <h3>Заведущий отделом прочностных расчетов</h3>
                    <p>
                        <strong>
                            <a target="_blank" href="http://www.etckbn.ru/">ООО "Экспертный технический центр ЦКБН"</a>,
                            Апрель
                            2004 - Июнь 2016
                        </strong>
                        <ul>
                            <li>Распределение и планирование внутренних работ по отделу</li>
                            <li>Контроль за своевременным выполнением поставленных задач</li>
                            <li>Подготовка, проверка и выдача смежным отделам отчетов по расчетам</li>
                            <li>Участие в технических совещаниях</li>
                            <li>Организация проведения аттестационных мероприятий по повышению квалификации сотрудников</li>
                            <li>Получение исходных данных, анализ и согласование с Заказчиком конструктивных решений</li>
                            <li>Расчет на прочность:</li>
                            <ul>
                                <li>Сосудов работающих под давлением и под налив</li>
                                <li>Колонных и горизонтальных аппаратов</li>
                                <li>Теплообменников и испарителей</li>
                                <li>Печей</li>
                                <li>Деталей трубопроводов</li>
                                <li>Рамы блоков</li>
                                <li>Площадок обслуживания</li>
                            </ul>
                            <li>Специальные расчеты:</li>
                            <ul>
                                <li>Расчеты на малоцикловые нагрузки</li>
                                <li>Расчеты на дополнительные и механические нагрузки</li>
                                <li>Ветровые и сейсмические нагрузки</li>
                                <li>Внешние нагрузки на патрубки от присоединенных трубопроводов</li>
                                <li>Расчеты численными методами элементов оборудования</li>
                            </ul>

                        </ul>

                    </p>
                    <h3>Инженер дефектоскопист</h3>
                    <p>
                        <strong>
                            <a target="_blank" href="http://ntcngd.com/">ООО "НТЦ Нефтегаздиагностика"</a>, Апрель 2002
                            - Апрель
                            2004
                        </strong>
                        <ul>
                            <li>Экспертиза промышленной безопасности сосудов, трубопроводов и резервуаров</li>
                            <li>Разработка автоматизированных форм протоколов, заключений, а
                                также форм для проведения расчетов различного характера
                            </li>
                            <li>Сбор и анализ данных диагностируемых объектов</li>
                            <li>Визуально-измерительный контроль (ВИК)</li>
                            <li>Ультразвуковой контроль</li>
                            <li>ПВК</li>
                            <li>Контроль методом акустической эмиссии</li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="education">
                <div class="works__title__width">
                    <h2>Высшее образование</h2>
                </div>
                <div class="works__content__width">
                    <h3>Менеджмент организации/менеджер(управление корпорацией)</h3>
                    <p>
                        <strong>Московский государственный университет экономики, статистики и информатики, Москва,
                            2008</strong>
                    </p>
                    <h3>Приборостроение/инженер</h3>
                    <p>
                        <strong>Московский государственный университет приборостроения и информатики, Москва, 2002</strong>
                    </p>
                </div>
            </div>
            <div class="education">
                <div class="works__title__width">
                    <h2>Дополнительное образование, курсы</h2>
                </div>
                <div class="works__content__width">
                    <h3>Факультет веб-разработки</h3>
                    <p>
                        <strong>ООО "ГИКБРЕЙНС", Geek University, Москва, 2018</strong>
                    </p>
                    <h3>Профессиональная переподготовка, Нефтегазовое производство</h3>
                    <p>
                        <strong>Российский государственный университет нефти и газа им. И.М. Губкина, Москва, 2013</strong>
                    </p>
                    <h3>Проектирование и расчет трубопроводов в системе СТАРТ</h3>
                    <p>
                        <strong>Steepler Graphics Center, Москва, 2009</strong>
                    </p>
                    <h3>Работа в программных пакетах SolidWorks и CosmosWorks</h3>
                    <p>
                        <strong>Центр компьютерного обучения "Специалист" при МГТУ им. Н.Э.Баумана, Москва, 2007</strong>
                    </p>
                </div>
            </div>
        </div>


        <%- include('includes/rc.ejs')%>

        <%- include('includes/footer.ejs')%>

        <!--End of class wrapper-->
    </div>

    <script src="../public/js/app.js"></script>
</body>

</html>