<section class="contact-header section">
    <div class="container contact-header_row">
        <div class="contact-header_style">
            <p>Телефон</p>
            <p><span>+7(999)999-999-99</span></p>
        </div>
        <div class="contact-header_style">
            <p>Элетропочта</p>
            <p><span>собакен@собакен.ру</span></p>
        </div>
    </div>
</section>