<section id="contact-footer">
    <div class="container rc">
        <div class="rc-title">
            <div>
                <h2>Контакты для связи</h2>
            </div>
        </div>
        <div class="rc-content">
            <div class="rc-item">
                <div class="rc-block">
                    <h4>Телефон</h4>
                    <p>+7(999)999-99-99</p>
                </div>
            </div>
            <div class="rc-item">
                <div class="rc-block">
                    <h4>Электропочта</h4>
                    <p>собакен@собакен.ру</p>
                </div>
            </div>
            <div class="rc-item">
                <div class="rc-block">
                    <h4>Адрес</h4>
                    <p>Москва</p>
                </div>
            </div>
        </div>
    </div>

    <div class="contact_form container">

        <form name="form-wrap" class="form-wrap" action="/" method="POST">

            <input class="form-input" type="text" name="name" placeholder="Имя" required>
            <input class="form-input" type="tel" name="phone" placeholder="Номер телефона" required>
            <input class="form-input" type="email" name="email" placeholder="Электропочта" required>
            <textarea class="form-input" name="message" rows="5" placeholder="Сообщение" required></textarea>
            <input  class="form-button" type="submit" value="Отправить сообщение">

        </form>






    </div>


</section>