<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="../public/style/admin_index.css">
</head>
<body class="login-body">
    <form class="login-form" action="/login" method="POST">
        <div class="login-container">
            <input type="email" name="email" placeholder="Адрес электронной почты или логин">
            <input type="password" name="password" placeholder="Пароль">
            <button class="login-btn" type="submit">Войти</button>
        </div>
    </form>
</body>
</html>