<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        <%= pageTitle %>
    </title>
    <link rel="stylesheet" href="../public/style/admin_index.css">
</head>

<body class="login-body">
    <% if (errorMessage) { %>
    <div>
        <%= errorMessage %>
    </div>
    <% } %>
    <form class="login-form" action="/signup" method="POST">
        <div class="login-container">
            <input type="hidden" name="_csrf" value="<%= csrfToken%>">
            <input type="email" name="email" placeholder="Адрес электронной почты">
            <input type="password" name="password" placeholder="Пароль">
            <input type="password" name="confirmPassword" placeholder="Повторить пароль">
            <div class="login-btn">
                <button class="login-btn-signup" type="submit">Регистрация</button>
            </div>
        </div>
    </form>
</body>


</html>