<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('includes/head.ejs')%>
</head>

<body id="body">

    <%-  include('includes/navbar.ejs') %>

    <%- include('includes/header.ejs')%>


    <%- include('includes/footer.ejs')%>

    <script src="../public/js/app.js"></script>
</body>

</html>