<!DOCTYPE html>
<html lang="ru">

<head>
    <%- include('includes/head.ejs')%>
</head>

<body id="body">

    <!--Page wrapper-->
    <div class="page__wrapper">

        <%- include('includes/navi.ejs')%>


        <%- include('includes/footer.ejs')%>

        <!--End of class wrapper-->
    </div>

    <script src="../public/js/app.js"></script>
</body>

</html>