<!DOCTYPE html>
<html lang="ru">

<head>

    <%- include('includes/head.ejs')%>
    <link rel="stylesheet" href="../public/style/contact.css">
</head>

<body id="body">

    <%- include('includes/navbar.ejs') %>

    <div class="contact-wrapper">
        <div class="contact-map">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A447544fdbddfb05b54edaa5c8d9b750f9f53f8d78dfdfae537a7c92a5d3d170f&amp;width=100%25&amp;height=800&amp;lang=ru_RU&amp;scroll=false"></script>
        </div>
        <div class="map-hover"></div>
        <div class="container cc">

            <p>fghjkl</p>

        </div>

    </div>

    <%- include('includes/footer.ejs')%>

    <script src="../public/js/app.js"></script>

</body>

</html>