body, a, p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
  display: block; }

.font-white {
  color: white; }

.header {
  background-color: #26262a;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header__wrapper {
    border: 1px solid red;
    height: 50px;
    width: 1000px; }

.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .header-line__logo {
    width: 70px;
    height: 70px;
    border: 1px solid red; }

.main {
  height: 500px;
  background-color: white; }

.footer {
  height: 150px;
  background-color: #26262a; }

.content {
  height: 100px; }
