.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 962px;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
      padding-left: 15px;
      padding-right: 15px; } }

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 962px;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
      padding-left: 15px;
      padding-right: 15px; } }

.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media (min-width: 576px) {
    .container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .container {
      max-width: 962px;
      padding-left: 15px;
      padding-right: 15px; } }
  @media (min-width: 1200px) {
    .container {
      max-width: 1140px;
      padding-left: 15px;
      padding-right: 15px; } }

#contact-footer {
  padding: 0px 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.rc-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 12px 0 12px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.27); }
  .rc-title div {
    position: absolute;
    background-color: white;
    padding: 0 20px; }
  .rc-title h2 {
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }

.top-line {
  border-top: 1px solid rgba(0, 0, 0, 0.27);
  width: 25%; }
  @media (min-width: 768px) {
    .top-line {
      width: 30%; } }
  @media (min-width: 992px) {
    .top-line {
      width: 35%; } }

.rc-item {
  padding: 20px 0; }
  @media (min-width: 768px) {
    .rc-item {
      width: 33.3%; } }

.rc-block {
  margin: 0 33px;
  padding: 36px 10px;
  border: 1px solid black;
  text-align: center; }
  @media (min-width: 768px) {
    .rc-block {
      margin: 0 15px;
      padding: 50px 10px; } }
  .rc-block h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 30px; }
  .rc-block p {
    font-size: 14px;
    font-weight: 400; }

@media (min-width: 768px) {
  .rc-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around; } }

.contact_form {
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.form-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #898989;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form-button {
  background-color: transparent;
  color: #1c1c1c;
  padding: 15px 35px 13px 35px;
  border: 1px solid #1c1c1c;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin: 40px 0;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .form-button:hover {
    background-color: #1c1c1c;
    color: white; }

.form-wrap {
  text-align: center;
  max-width: 600px; }

.rc-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 40px 0; }

.rc-button {
  padding: 15px 35px 13px 35px;
  border: 1px solid #1c1c1c; }
  .rc-button a {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px; }

.portfolio__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.portfolio__item {
  margin: 0px 10px;
  margin-bottom: 20px;
  height: 300px;
  width: 240px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }

.portfolio__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 10px 0px; }
  .menu__container h2 {
    text-align: center; }

.menu__item {
  padding: 10px 20px;
  position: relative; }
  .menu__item a {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 800;
    color: dimgray; }
    .menu__item a:hover {
      color: black; }

.portfolio__description {
  position: absolute;
  background-color: white;
  max-width: 220px;
  opacity: 0.8;
  margin: 5px; }
  .portfolio__description:hover {
    opacity: 0;
    cursor: pointer; }
  .portfolio__description p {
    color: black;
    margin: 10px; }

.menu__item__active {
  color: black; }

.portfolio__admin {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 180px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.portfolio-pdf-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  display: block;
  border: 1px solid white;
  padding: 5px;
  margin: 5px;
  -webkit-transition: 0.1s background-color linear, 0.1s color linear;
  -o-transition: 0.1s background-color linear, 0.1s color linear;
  transition: 0.1s background-color linear, 0.1s color linear; }
  .portfolio-pdf-btn:hover {
    color: #26262a;
    background-color: white; }

/*# sourceMappingURL=map/portfolio.css.map */
