/*resume style file*/
h2 {
  font-weight: 300;
  font-style: normal;
  font-size: 26px;
  letter-spacing: .01em;
  line-height: 1.4em;
  text-transform: none; }

h3 {
  margin: 0;
  margin-top: 30px;
  text-transform: uppercase;
  color: black;
  font-weight: 600;
  font-style: normal;
  font-size: 14px;
  letter-spacing: .1em;
  line-height: 1.6em; }

.content {
  position: relative; }

@media (max-width: 400px) {
  .skills__width, .works__title__width {
    width: auto; } }

@media (min-width: 400px) and (max-width: 576px) {
  .skills__width, .works__title__width {
    width: auto; } }

@media (min-width: 576px) and (max-width: 768px) {
  .skills__width, .works__title__width {
    width: 33%; } }

@media (min-width: 768px) and (max-width: 992px) {
  .skills__width, .works__title__width {
    width: 33%; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .skills__width, .works__title__width {
    width: 33%; } }

@media (min-width: 1200px) {
  .skills__width, .works__title__width {
    width: 33%; } }

.skills, .works, .education {
  display: flex;
  line-height: 1.8em;
  margin-bottom: 0px; }
  @media (max-width: 400px) {
    .skills, .works, .education {
      flex-direction: column;
      margin-top: 30px;
      padding: 0px 10px; } }
  @media (min-width: 400px) and (max-width: 576px) {
    .skills, .works, .education {
      margin-top: 30px;
      padding: 0px 10px;
      flex-direction: column; } }
  @media (min-width: 576px) and (max-width: 768px) {
    .skills, .works, .education {
      margin: 20px auto;
      width: auto;
      margin-top: 60px;
      justify-content: space-between;
      padding: 0px 10px; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .skills, .works, .education {
      width: 720px;
      margin: 20px auto;
      margin-top: 120px; } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .skills, .works, .education {
      margin: 20px auto;
      margin-top: 120px;
      width: 960px; } }
  @media (min-width: 1200px) {
    .skills, .works, .education {
      margin: 20px auto;
      margin-top: 120px;
      width: 1140px; } }

@media (max-width: 400px) {
  .works__content__width {
    width: auto; } }

@media (min-width: 400px) and (max-width: 576px) {
  .works__content__width {
    width: auto; } }

@media (min-width: 576px) and (max-width: 768px) {
  .works__content__width {
    width: 66%; } }

@media (min-width: 768px) and (max-width: 992px) {
  .works__content__width {
    width: 66%; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .works__content__width {
    width: 66%; } }

@media (min-width: 1200px) {
  .works__content__width {
    width: 66%; } }

.works a {
  color: black;
  display: inline;
  padding-bottom: .05em;
  border-bottom: 1px solid #1a1a1a; }
  .works a:hover {
    color: rgba(26, 26, 26, 0.5); }
