<!--Footer-->
<div class="footer">
    <div class="footer__container">
        <div class="footer__menu">
            <div class="footer__menu_item"><a href="/" class="footer__menu_link">главная</a></div>
            <div class="footer__menu_item"><a href="/resume" class="footer__menu_link">резюме</a></div>
            <div class="footer__menu_item"><a href="/portfolio" class="footer__menu_link">портфолио</a></div>
            <div class="footer__menu_item"><a href="/blog" class="footer__menu_link">блог</a></div>
            <div class="footer__menu_item"><a href="/contacts" class="footer__menu_link notActive">контакты</a></div>
        </div>
        <div class="footer__reserved">2018 Кольберт Владимир / Vladimir Kolbert</div>
        <div class="footer__social">
            <div class="footer__social_item">VK</div>
            <div class="footer__social_item">Ok</div>
            <div class="footer__social_item">Fb</div>
            <div class="footer__social_item">Ln</div>
        </div>
    </div>
</div>

<!--End of class wrapper-->
</div>

<script src="../public/js/app.js"></script>
</body>
</html>