<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="kolbert.ru"/>
    <title>Кольберт Владимир / Vladimir Kolbert</title>
    <meta name="description" content="Расчет на прочность оборудования, работающего под давлением. Сосуды, трубопроводы, блочное оборудование">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style/app.css">
    <link rel="stylesheet" href="../public/style/resume.css">
    <link rel="stylesheet" href="../public/style/contact.css">




</head>
<body>

<!--Page wrapper-->
<div class="page__wrapper">

    <!--Header-->
    <div class="header">
        <div class="header__menuMobileContainer">
            <img class="header__logoButter" src="../public/img/logo-b.png" alt="">
            <div><p>Кольберт Владимир</p></div>
            <nav class="mobileMenu">
                <input type="checkbox" id="mobileMenuCheckbox" class="mobileMenu__checkbox">
                <label for="mobileMenuCheckbox" class="mobileMenu__button">
                    <div class="mobileMenu__icon"></div>
                </label>
                <div class="mobileMenu__container">
                    <div class="mobileMenu__list">
                        <div class="mobileMenu__item"><a href="/" class="mobileMenu__link">главная</a></div>
                        <div class="mobileMenu__item"><a href="/resume" class="mobileMenu__link">резюме</a></div>
                        <div class="mobileMenu__item"><a href="/portfolio" class="mobileMenu__link">портфолио</a></div>
                        <div class="mobileMenu__item"><a href="/blog" class="mobileMenu__link">блог</a></div>
                        <div class="mobileMenu__item"><a href="/contact" class="mobileMenu__link">контакты</a></div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="header__menuContainer">
            <img src="../public/img/logo-w.png" alt="">
            <nav class="menu">
                <div class="menu__container" id="menu__container">
                    <div class="menu__item"><a href="/" class="menu__link">главная</a></div>
                    <div class="menu__item"><a href="/resume" class="menu__link">резюме</a></div>
                    <div class="menu__item"><a href="/portfolio" class="menu__link">портфолио</a></div>
                    <div class="menu__item"><a href="/blog" class="menu__link">блог</a></div>
                    <div class="menu__item"><a href="/contact" class="menu__link">контакты</a></div>
                </div>
            </nav>
        </div>


        <div class="header__imageContainer">

            <div class="image__container">
                <div class="image__container__image">
                    <div class="image__container__opacity"></div>
                    <p class="image__container__title">"Счастье – это путь, а не пункт назначения"</p>
                </div>
            </div>


        </div>


    </div>








