<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{global.baseUrl}"/>
    <title>Кольберт Владимир / Vladimir Kolbert</title>
    <meta name="description" content="{head.description}">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/style/app.css">
    <script src="../public/js/app.js"></script>
</head>
<body>

<!--https://codepen.io/simonepizzamiglio/pen/OjMbZx-->

<!--Page wrapper-->
<div class="page__wrapper">

    <!--Header-->
    <div class="header">
        <div class="header__menuMobileContainer">
            <img class="header__logoButter" src="../public/img/logo-b.png" alt="">
            <nav class="mobileMenu">
                <input type="checkbox" id="mobileMenuCheckbox" class="mobileMenu__checkbox">
                <label for="mobileMenuCheckbox" class="mobileMenu__button">
                    <div class="mobileMenu__icon"></div>
                </label>
                <div class="mobileMenu__container">
                    <ul class="mobileMenu__list">
                        <li class="mobileMenu_item"><a href="/" class="mobileMenu__link">Главная</a></li>
                        <li class="mobileMenu_item"><a href="/resume" class="mobileMenu__link">Резюме</a></li>
                        <li class="mobileMenu_item"><a href="/portfolio" class="mobileMenu__link">Портфолио</a></li>
                        <li class="mobileMenu_item"><a href="/contacts" class="mobileMenu__link">Контакты</a></li>
                    </ul>
                </div>
            </nav>


        </div>

    </div>

    <div class="header__menuContainer">

        <img src="../public/img/logo-w.png" alt="">

    </div>


    <div class="header__image">


    </div>


</div>




