<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <base href="{global.baseUrl}"/>
    <title>Кольберт Владимир / Vladimir Kolbert</title>
    <meta name="description" content="{head.description}">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/style/app.css">
</head>
<body>

<!--https://codepen.io/simonepizzamiglio/pen/OjMbZx-->

<!--Page wrapper-->
<div class="page__wrapper">

    <!--Header-->
    <div class="header">
        <div class="header__menuMobileContainer">
            <img class="header__logoButter" src="../public/img/logo-b.png" alt="">
            <div><p>Кольберт Владимир</p></div>
            <nav class="mobileMenu">
                <input type="checkbox" id="mobileMenuCheckbox" class="mobileMenu__checkbox">
                <label for="mobileMenuCheckbox" class="mobileMenu__button">
                    <div class="mobileMenu__icon"></div>
                </label>
                <div class="mobileMenu__container">
                    <div class="mobileMenu__list">
                        <div class="mobileMenu__item"><a href="/" class="mobileMenu__link">главная</a></div>
                        <div class="mobileMenu__item"><a href="/porfolio" class="mobileMenu__link">резюме</a></div>
                        <div class="mobileMenu__item"><a href="/resume" class="mobileMenu__link">портфолио</a></div>
                        <div class="mobileMenu__item"><a href="/blog" class="mobileMenu__link">блог</a></div>
                        <div class="mobileMenu__item"><a href="/contacts" class="mobileMenu__link">контакты</a></div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="header__menuContainer">
            <img src="../public/img/logo-w.png" alt="">
            <nav class="menu">
                <div class="menu__container" id="menu__container">
                    <div class="menu__item"><a href="/" class="menu__link">главная</a></div>
                    <div class="menu__item"><a href="/porfolio" class="menu__link">резюме</a></div>
                    <div class="menu__item"><a href="/resume" class="menu__link">портфолио</a></div>
                    <div class="menu__item"><a href="/blog" class="menu__link">блог</a></div>
                    <div class="menu__item"><a href="/contacts" class="menu__link">контакты</a></div>
                </div>
            </nav>
        </div>


        <div class="header__image">


        </div>


    </div>








