<div class="contact">

    <div class="contact__content">


        <div class="contact__box">

            <h2 class="contact__box__title">Заказать расчет на прочность</h2>
            <p class="contact__box__content">Вам нужно выполнить расчет на прочность оборудования работающего под
                давлением?
            </p>

            <span class="contact__box_button">Отправить запрос</span>

        </div>

        <div class="contact__box">

            <h2 class="contact__box__title">Общие вопросы</h2>
            <p class="contact__box__content">Общие вопросы по работе сайта и сервисам, коментарии, выполненным работам.
                Также можете просто сказать привет. :)
            </p>

            <span class="contact__box_button">Сказать привет :)</span>

        </div>


    </div>


    <!--<div class="contact__map">-->
        <!--<script type="text/javascript" charset="utf-8" async-->
                <!--src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A447544fdbddfb05b54edaa5c8d9b750f9f53f8d78dfdfae537a7c92a5d3d170f&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>-->

    <!--</div>-->


</div>