<div class="contact" xmlns="http://www.w3.org/1999/html">

    <div class="contact__content">


        <div class="contact__box">

            <h2 class="contact__box__title">Запрос на расчет</h2>
            <p class="contact__box__content">
                Расчет сосудов и аппаратов; </br>
                Расчет деталей трубопроводов;</br>
                Расчет рам для блочно-модульного оборудования</br>
            </p>

            <span class="contact__box_button">Отправить запрос</span>

        </div>

        <div class="contact__box">

            <h2 class="contact__box__title">Общие вопросы</h2>
            <p class="contact__box__content">Общие вопросы по работе сайта и сервисам, коментарии, выполненным работам.
            </p>

            <span class="contact__box_button">Задать вопрос</span>

        </div>


    </div>


    <!--<div class="contact__map">-->
        <!--<script type="text/javascript" charset="utf-8" async-->
                <!--src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A447544fdbddfb05b54edaa5c8d9b750f9f53f8d78dfdfae537a7c92a5d3d170f&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>-->

    <!--</div>-->


</div>