<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Кольберт Владимир - Личный сайт</title>
    <link rel="stylesheet" href="../public/style/header.css">
</head>
<body>

<header class="header">
    <div class="header-line header__wrapper font-white">
        <div class="header-line__logo">Лого</div>
        <div class="header-line__name">Владимир Кольберт / Vladimir Kolbert</div>
        <div class="header-line__menu">
            <ul>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
                <li>123</li>
            </ul>
        </div>


    </div>
</header>

<main class="main">
    <div class="content">

    </div>


</main>

<footer class="footer">


</footer>


<script id="__bs_script__">//<![CDATA[
document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.js?v=2.26.3'><\/script>".replace("HOST", location.hostname));
//]]></script>
</body>
</html>