<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Кольберт Владимир - Личный сайт</title>
    <link rel="stylesheet" href="../public/style/header.css">
</head>
<body>

<header class="header">

    <div class="block-menu block-menu_gray">
        <div class="block-menu__logo">
            <span>КВ.</span>
        </div>

        <div class="block-menu__menu">
            menu-ite



        </div>

    </div>
    <div class="block-img block-img_gray">



    </div>


</header>

<main>


</main>

<footer>


</footer>

</body>
</html>