<div class="portfolio">

    <div class="portfolio__year">

        <div class="year__container">
            <div class="year__item"><a href="/portfolio/all" >Все</a></div>
            <div class="year__item"><a href="/portfolio/2018">2018</a></div>
            <div class="year__item"><a href="/portfolio/2017" class="year__item_active">2017</a></div>
            <div class="year__item"><a href="/portfolio/2016">2016</a></div>
            <div class="year__item"><a href="/portfolio/2015">2015</a></div>
            <div class="year__item"><a href="/portfolio/2014">2014</a></div>
        </div>

    </div>


    <div class="portfolio__content">

        <div class="portfolio__container__item">
            <div class="portfolio__item"></div>
            <div class="portfolio__item"></div>
            <div class="portfolio__item"></div>
            <!--<div class="portfolio__item"></div>-->
        </div>

        <div class="portfolio__container__item">
            <div class="portfolio__item"></div>
            <div class="portfolio__item"></div>
            <div class="portfolio__item"></div>
            <!--<div class="portfolio__item"></div>-->

        </div>

    </div>

</div>