<div class="portfolio">

    <div class="portfolio__year">

        <div class="year__container">
            <div class="year__item"><a href="/portfolio/all">Все</a></div>
            <div class="year__item"><a href="/portfolio/2018">2018</a></div>
            <div class="year__item"><a href="/portfolio/2017">2017</a></div>
            <div class="year__item"><a href="/portfolio/2016">2016</a></div>
            <div class="year__item"><a href="/portfolio/" class="year__item_active">Примеры</a></div>
        </div>
    </div>
    <div>
        <div>
            <p>На данной странице краткий перечень выполненых работ</p>
        </div>
    </div>

    <div class="portfolio__content">


        <!--<div class="portfolio__container__item">-->
            <!--<div class="portfolio__item">-->
                <!--<img src="/public/img/filtr-1.jpg" alt="">-->
                <!--<p>Расчет на прочность колонного аппарата (пример)</p>-->
                <!--<div class="item__descipt">-->
                    <!--<p>Особенности:</p>-->
                    <!--<p>Сталь: SA533/SA508</p>-->
                    <!--<p>Масса: 200т</p>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="portfolio__item">-->
                <!--<img src="/public/img/flange-1-350-350-m.jpg" alt="">-->
                <!--<p>Фильтр-сепаратор</p>-->
                <!--<div class="item__descipt">-->
                    <!--<p>Особенности:</p>-->
                    <!--<p>Сталь: SA533/SA508</p>-->
                    <!--<p>Масса: 300т</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="portfolio__item">-->
                <!--<img src="/public/img/flange-1-350-350-m.jpg" alt="">-->
                <!--<p>Адсорбер</p>-->
                <!--<div class="item__descipt">-->
                    <!--<p>Особенности:</p>-->
                    <!--<p>Сталь: SA533/SA508</p>-->
                    <!--<p>Масса: 400т</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="portfolio__container__item container_hidden">-->
            <!--<div class="portfolio__item random_color">-->
                <!--<img src="/public/img/filtr-1-1.jpg" alt="">-->
                <!--<p>Фильтр-сепаратор</p>-->
                <!--<div class="item__descipt">-->
                    <!--<p>Особенности:</p>-->
                    <!--<p>Сталь: SA533/SA508</p>-->
                    <!--<p>Масса: 200т</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="portfolio__item random_color">-->
                <!--<img src="/public/img/filtr-1-1.jpg" alt="">-->
                <!--<p>Фильтр-сепаратор</p>-->
                <!--<div class="item__descipt">-->
                    <!--<p>Особенности:</p>-->
                    <!--<p>Сталь: SA533/SA508</p>-->
                    <!--<p>Масса: 200т</p>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="portfolio__item random_color">-->
                <!--<img src="/public/img/filtr-1-1.jpg" alt="">-->
                <!--<p>Фильтр-сепаратор</p>-->
                <!--<div class="item__descipt">-->
                    <!--<p>Особенности:</p>-->
                    <!--<p>Сталь: SA533/SA508</p>-->
                    <!--<p>Масса: 200т</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        {gallery.content}

    </div>

    <script type="text/javascript" async>
        "use strict";

        let a = document.getElementsByClassName('portfolio__item');
        let b = document.getElementsByClassName('random_color');

        function color() {
            for (let i = 0; i < b.length; i++) {
                let color = '#' + Math.floor(Math.random() * 16777215).toString(16);
                b[i].style.backgroundColor = color;
            }
        }

        color();

        function resize() {
            for (let i = 0; i < a.length; i++) {
                a[i].style.height = a[i].offsetWidth + 'px';
                // console.log(a[0].offsetWidth)
            }
        }

        resize();
        window.addEventListener('resize', resize);

    </script>
</div>