<!--Page specific content-->
<div class="content">

    <!--<h1 class="textColorDev">Резюме :::) </h1>-->

    <div class="skills">
        <div class="skills__title skills__width">
            <h2>Навыки и технологии</h2>
        </div>
        <div class="skills__common skills__width">
            <h3>Ключевые навыки</h3>
            <ul>
                <li>PVP-Design</li>
                <li>Mathcad</li>
                <li>SMath Studio</li>
                <li>Solid Works</li>
                <li>Solid Works Simulation</li>
                <li>Расчеты на прочность</li>
            </ul>
        </div>
        <div class="skills__add skills__width">
            <h3>Дополнительные навыки</h3>
            <ul>
                <li>HTML/CSS</li>
                <li>JavaScript</li>
                <li>SCSS/LESS</li>
                <li>GIT - Version Control</li>
                <li>GULP</li>
                <li>AJAX</li>
                <li>Node.js</li>
                <li>Responsive Design</li>
                <li>BEM (naming)</li>
                <li>React/Redux</li>
                <li>Angular</li>
                <li>PHP</li>
                <li>Webpack</li>
            </ul>
        </div>
        <!--<div class="skills__exp skills__width">-->
            <!--<h3>Опыт работы</h3>-->
            <!--<ul>-->
                <!--<li>React/Redux</li>-->
                <!--<li>Angular</li>-->
                <!--<li>Node.js</li>-->
                <!--<li>PHP</li>-->
                <!--<li>Webpack</li>-->
            <!--</ul>-->
        <!--</div>-->
    </div>
    <div class="works">
        <div class="works__title__width">
            <h2>Опыт работы</h2>
        </div>
        <div class="works__content__width">
            <h3>Руководитель группы КБ Департамента крупных проектов</h3>
            <p>
                <strong>АО Гипрокислород, Июль 2017 - по настоящее время</strong>

            </p>
            <h3>Руководитель органа сертификации / Эксперт</h3>
            <p>
                <strong>ООО "Сертификация и Экспертиза, Июнь 2016 - Июль 2017</strong>

            </p>
            <h3>Заведущий отделом прочностных расчетов</h3>
            <p>
                <strong>ООО "Экспертный технический центр ЦКБН", Апрель 2004 - Июнь 2016</strong>

            </p>
            <h3>Инженер дефектоскопист</h3>
            <p>
                <strong>ООО "НТЦ Нефтегаздиагностика", Апрель 2002 - Апрель 2004</strong>

            </p>



        </div>
    </div>




</div>
