<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<h2>тестовая страница для проверки всякой разной ерунды</h2>


<form method="post" action="/test">
    <input type="text" value="111" name="text1">
    <input type="text" value="222" name="text2">
    <input type="text" value="333" name="text3">
    <button> submit</button>
</form>

<h1>{header1.name}</h1>
<h2>{header2.name}</h2>


</body>
</html>