@import "includes/container.scss";
@import "includes/media.scss";
@import "includes/navbar.scss";

.navbar {

  @media (min-width: $lg) {
    background-color: #26262a;
  }
}

.contact-wrapper {
  position: relative;
}

.map-hover {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #26262a;
  opacity: 0.9;
}

.cc {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 110px;

}