// style file for main page
@import "includes/container.scss";
@import "includes/media.scss";
@import "includes/rc.scss";

.gallery {
    &-container {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    &-item {
        margin: 0 10px;
        margin-bottom: 20px;
        height: 300px;
        width: 240px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    &-description {
        position: absolute;
        background-color: white;
        max-width: 220px;
        opacity: 0.8;
        margin: 5px;

        &:hover {
            opacity: 0.1;
            cursor: pointer;
        }

        & p {
            color: black;
            margin: 10px;
        }
    }

    &-title {
        text-align: center;
        letter-spacing: 0.05em;

        &_wrap {

            padding: 30px 0px 0px 0px;
        }


    }
}