// portfolio style file
@import "includes/container.scss";
@import "includes/media.scss";
@import "includes/rc.scss";

.portfolio {
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        // margin-bottom: 40px;
    }

    &__item {
        margin: 0px 10px;
        margin-bottom: 20px;
        height: 300px;
        width: 240px;
        // background-color: green;
        // border: 1px solid red; 
        // background-image: url('/public/img/фильтр-1.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        position: relative;
    }

    &__menu {
        display: flex;
        justify-content: center;
    }
}

.menu {
    &__container {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        justify-content: center;
        margin: 10px 0px;
    }

    &__item {
        padding: 10px 20px;
        position: relative;

        & a {
            font-size: 14px;
            letter-spacing: 1px;
            font-weight: 800;
            color: dimgray;

            &:hover {
                color: black;
            }
        }
    }
}

.portfolio__description {
    position: absolute;
    background-color: white;
    // height: 100px;
    max-width: 220px;
    opacity: 0.8;
    // padding: 5px;
    // margin: 5px;

    &:hover {
        opacity: 0;
        cursor: pointer;
    }

    & p {
        color: black;
        margin: 10px;
    }
}

.menu__item__active {
    color: black;
}

.portfolio__admin {
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    width: 180px;
    justify-content: space-between;
}